<!DOCTYPE html>
<!--CSS COMMANDS-->
<style type="text/css">
  #results {
    font-size: 30px;
    font-weight: bold;
    border: 0px;
    padding: 15px;
    text-align: center;
    min-height: 150px;
  }

  .final {
    color: black;
    padding-right: 3px;
  }

  .interim {
    color: gray;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .sizer {
    width: 75%;
    margin: auto;
  }

  .video-mask {
    width: 75%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
  }

  .subtitles {
    width: 300px;
    height: 300px;
    border-color: blue;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: auto;
  }

  textarea {
    outline: none !important;
    border-color: white;
  }

  .row {
    padding-top: 30px;
  }

</style>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script>
    $('document').ready(function () {
      var to_play = [];
      var past_play = [" "];

      var last_said = '=';
      var counter = 0;
      var to_remove = -1;
      var video_runner = false;
      var remember = '';
      var timer;
      var to_remember = '';
      var full_speech = '';

      function run_text(string) {
        if (string.length === 0) {
          return;
        }

        if (string.indexOf(last_said) === -1 && last_said.indexOf(string) === -1) {
          to_remember += ' ' + string;

          last_said = string.replace(" ", "");
          var split = string.split(" ");
          for (var i = 0; i < split.length; i++) {
            update_video(split[i]);
          }
        }
      }

      function update_video(text) {
        var language = document.getElementById("output_language").value;

        $.ajax({
          url: '/api/',
          data: {'word': text, 'language': language},
          type: 'GET',
          success: function (response) {
            if (response.length === 0) {
              return;
            }

            to_play.push([counter, text, to_remember.trim()]);
            to_remember = '';
            create_video_element(counter, response);
            counter += 1;

            if (!video_runner) {
              play_video();

              video_runner = setInterval(function () {
                if (to_play.length === 0) {
                  clearInterval(video_runner);
                  video_runner = false;
                  return;
                }
                play_video();
              }, 1000)
            }
          }
        })
      }


      function play_video() {
        if (to_remove !== -1) {
          document.getElementById(to_remove).remove();
        }

        var entry = to_play.shift();
        to_remove = entry[0];

        play_subtitle(entry[1]);
        element = document.getElementById(entry[0]);
        element.removeAttribute("hidden");
        element.currentTime = 0.5;
        element.playbackRate = 1.5;
        element.play();
      }

      function play_subtitle(short_text) {
        console.log(full_speech);
        var result_split = full_speech.split(' ' + short_text + ' ');
        console.log(result_split);

        console.log();

        if (full_speech.indexOf(short_text) === 0) {
          subtitles_now.innerHTML = short_text;
          final_future_span.innerHTML = result_split[0].substring(short_text.length + 1);
        } else if (result_split.length > 1) {
          subtitles_past.innerHTML = result_split[0];
          subtitles_now.innerHTML = short_text;
          final_future_span.innerHTML = result_split[1];
        } else if(result_split.length === 1) {
          subtitles_past.innerHTML = result_split[0].substring(0, result_split[0].length - short_text.length - 1);
          subtitles_now.innerHTML = short_text;
          final_future_span.innerHTML = '';
        }
      }

      function play_another() {
        if (to_play.length === 0) {
          playing = false;
        } else {
          var entry = to_play.shift();
          play_future.push(entry[0]);
          play_video(entry[1]);
        }
      }

      function create_video_element(id, url) {
        var video = document.createElement('video');
        var source = document.createElement('source');

        video.setAttribute("width", 320);
        video.setAttribute("height", 240);
        video.setAttribute("id", id);
        video.setAttribute('src', url);
        video.setAttribute("hidden", true);

        video.appendChild(source);
        video.removeAttribute("controls");
        video.load();

        document.getElementById("body").appendChild(video);
      }

      var recognition = new webkitSpeechRecognition();
      recognition.continuous = true;
      recognition.interimResults = true;
      recognition.lang = "en-US";

      var previous = "";

      recognition.onerror = function (event) {
        console.log(event.error);
      };

      recognition.onend = function (event) {
        last_said = '=';
        remember = '';
        to_remember = '';
        recognition.start();
      };

      recognition.onresult = function (event) {
        var interim_transcript = '';
        var final_transcript = '';

        for (var i = event.resultIndex; i < event.results.length; ++i) {
          if (event.results[i].isFinal) {
            final_transcript += event.results[i][0].transcript;
          } else {
            interim_transcript += event.results[i][0].transcript;
          }
        }

        if (final_transcript.length > 0) {
          full_speech = final_transcript;
        } else {
          full_speech = interim_transcript;
        }

        if (event.results.length !== 1 || event.results[0].isFinal) {
          run_text(event.results[0][0].transcript.replace(previous, "").trim());

          clearTimeout(timer);
          timer = setTimeout(function () {
            run_text(remember);
            recognition.stop();
          }, 1000);

          if (event.results.length > 1) {
            remember = event.results[1][0].transcript;

            if (!event.results[1][0].transcript.trim().includes(" ") && event.results[1].isFinal) {
              run_text(event.results[1][0].transcript);
            }
          }

          previous = event.results[0][0].transcript;
        }
      };
//      run_text("Hello do you want to grab breakfast morning");
      recognition.start();
    });

    var current_style;

    function showButtons(style) {
      if (style == current_style) {
        return;
      }
      current_style = style;
    }

    var two_line = /\n\n/g;
    var one_line = /\n/g;

    function linebreak(s) {
      return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
    }
  </script>

  <title>Bootstrap header</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!--begin body-->
<body>

<div class="jumbotron text-center">
  <h1>Voice to Sign</h1>
  <p>Making communication easier!</p>
</div>

<!--two columns with languages-->
<div class="container">
  <div class="row">
    <div class="col-sm-6" align="center">
      <h2>Input Language</h2>

      <!--dropdown-->
      <div class="btn-group">
        <div class="dropdown">
          <select class="selectpicker btn btn-default dropdown-toggle" id="input_language">
            <option>English</option>
          </select>
        </div>
      </div>

    </div>

    <div class="col-sm-6" align="center">
      <h2>Output Language</h2>

      <!--dropdown-->
      <div class="btn-group">
        <div class="dropdown">
          <select class="selectpicker btn btn-default dropdown-toggle" id="output_language">
            <option>American English</option>
            <option>English</option>
            <option>Swedish</option>
            <option>Czech</option>
            <option>Spanish</option>
            <option>Portuguese</option>
            <option>German</option>
            <option>French</option>
            <option>Turkish</option>
            <option>Polish</option>
            <option>Icelandic</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<!--microphone button/icon-->
<!--<div class="row text-center">
  <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Circle-icons-mic.svg/2000px-Circle-icons-mic.svg.png"
      class="rounded mx-auto" width="100px">
</div>-->

<div class="row"></div>

<!--video-->
<div class="video-mask col-sm-4 col-sm-offset-4">
  <div class="embed-responsive embed-responsive-16by9" id="body">
    <!-- <video width="320" height="240" controls autoplay id="video"></video> -->
  </div>
</div>

<div class="row"></div>

<div class="container">
  <div id="results">
    <span class="final" id="subtitles_past"></span>
    <span style="color:blue;font-weight:bold;font-size:50px"
          id="subtitles_now">Set your language and spread the sign!</span>
    <span id="final_future_span" class="final"></span>
    <span id="interim_future_span" class="interim"></span>
    <p>
  </div>
</div>
</body>
</html>