<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script>
    $('document').ready(function () {
      var to_play = [];
      var playing = false;

      var video = document.getElementById('video');

      var last_said;

      function run_text(string) {
        if (string.length === 0) {
          return;
        }

        if (string !== last_said) {
          last_said = string.replace(" ", "");
          var split = string.split(" ");
          for (var i = 0; i < split.length; i++) {
            update_video(split[i]);
          }
        }
      }

      function update_video(text) {
        $.ajax({
          url: '/api/',
          data: {'word': text},
          type: 'GET',
          success: function (response) {
            if (response.length === 0) {
              return;
            }

            if (to_play.length === 0 && !playing) {
              playing = true;
              play_video(response, text);
            } else {
              to_play.push([text, response])
            }

          }
        })
      }

      function play_video(source, text) {
        play_subtitle(text);
        var video_source = document.createElement('source');

        video.setAttribute('src', source);

        video.appendChild(video_source);
        video.currentTime = 0.5;
        video.playbackRate = 1.5;
        video.play();

        setTimeout(function () {
          play_another()
        }, 1500);
      }

      function play_subtitle(text) {
        console.log(text);
        document.getElementById('subtitle').value = text;
      }

      function play_another() {
        if (to_play.length === 0) {
          playing = false;
        } else {
          var entry = to_play.shift();
          play_video(entry[1], entry[0]);
        }
      }

      var recognition = new webkitSpeechRecognition();
      recognition.continuous = true;
      recognition.interimResults = true;

      var previous = "";

      recognition.onerror = function (event) {
        console.log(event.error);
      };

      var remember = '';
      var timer;

      recognition.onresult = function (event) {
        if (event.results.length !== 1) {
          run_text(event.results[0][0].transcript.replace(previous, "").trim());

          if (!event.results[1][0].transcript.substring(1, event.results[1][0].transcript.length).includes(" ") && event.results[1].isFinal) {
            run_text(event.results[1][0].transcript);
          }

          clearTimeout(timer);
          timer = setTimeout(function () {
            run_text(remember);
          }, 2000);

          remember = event.results[1][0].transcript;
          previous = event.results[0][0].transcript;
        }
      };
      recognition.start();
    });
  </script>
  <script>
    $('document').ready(function () {

    });
  </script>
</head>
<body>
<video width="320" height="240" controls autoplay id="video">
</video>
<textarea id="subtitle" rows="4" cols="50">
Starting text
</textarea>
</body>
</html>