<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script>
    $('document').ready(function () {
      var to_play = [];
      var playing = false;

      $('#word').on('keydown', function (e) {
        if (e.which === 13) {
          e.preventDefault();
          run_text(document.getElementById('word').value);
        }
      });

      document.getElementById("send").addEventListener("click", function () {
        run_text(document.getElementById('word').value);
      });

      var video = document.getElementById('video');

      function run_text(string) {
        var split = string.split(" ");
        for (var i = 0; i < split.length; i++) {
          update_video(split[i]);
        }

        document.getElementById('word').value = "";
      }

      function update_video(text) {
        $.ajax({
          url: '/api/',
          data: {'word': text},
          type: 'GET',
          success: function (response) {
            if (response.length === 0) {
              return;
            }

            if (to_play.length === 0 && !playing) {
              playing = true;
              play_video(response);
            } else {
              to_play.push([text, response])
            }

          }
        })
      }

      function play_video(source) {
        var video_source = document.createElement('source');

        video.setAttribute('src', source);

        video.appendChild(video_source);
        video.currentTime = 0.5;
        video.play();

        setTimeout(function (){play_another()}, 1500);
      }

      function play_another() {
          if (to_play.length === 0) {
            playing = false;
          } else {
            var entry = to_play.shift();
            play_video(entry[1]);
          }
        }
    });
  </script>
</head>
<body>
<input id="word">
<button type="button" id="send">Send</button>
<video width="320" height="240" controls autoplay id="video">
</video>
</body>
</html>